<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>

<body>

    <h1 class="heading">Good Vibes Form</h1>

    <div class="container mx-auto" style="width: 600px;">
        <h5 class="mb-5">Tell us something what happened to you today.</h5>
        {{!-- form --}}
        <form onsubmit="return myFunc();" action="/survey" method="POST">
            <div class="form-group row">
                <label for="name" class="col-sm-5 col-form-label">Name:</label>
                <div class="col-sm-7">
                    <input type="text" name="name" id="checkfirst" class="form-control" id="inputPassword3"
                        placeholder="Enter your Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-5 col-form-label">Email:</label>
                <div class="col-sm-7">
                    <input type="email" name="email" id="Email1" class="form-control" id="inputEmail3"
                        placeholder="Enter your email">
                </div>
            </div>
            <div class="form-group row">
                <label for="input" class="col-sm-5 col-form-label">On a scale of 1-10, how good was it?</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" name="number" id="rating"
                        placeholder="Enter a number between 1 and 10">
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-5 pt-0">At what time of day did it happen?</legend>
                    <div class="col-sm-7">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                value="Morning">
                            <label class="form-check-label" for="gridRadios1">
                                Morning
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                                value="Afternoon">
                            <label class="form-check-label" for="gridRadios2">
                                Afternoon
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                                value="Evening">
                            <label class="form-check-label" for="gridRadios3">
                                Evening
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-5">What emotions experienced?<p>(Select all that apply)</p>
                </div>
                <div class="col-sm-7">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridCheck1" id="gridCheck1"
                            value="Excited">
                        <label class="form-check-label" for="gridCheck1">
                            Excited
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1" value="Humble">
                            Humbled
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1" value="Elated">
                            Elated
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1" value="Loved">
                            Loved
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1" value="Enthusiastic">
                            Enthusiastic
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlTextarea2" class="col-sm-5 col-form-label">Please describe your positive
                    experience here:</label>
                <div class="col-sm-7">
                    <textarea class="form-control rounded-0" name="experience" id="exampleFormControlTextarea2" rows="3" placeholder="Enter your experience here"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </div>
            </div>

        </form>
    </div>
    <script>
        function myFunc() {
            var regName = /^[a-zA-Z]+$/;
            var name = document.getElementById('checkfirst').value;
            var email = document.getElementById('Email1').value;
            var rate = document.getElementById('rating').value;

            if (name == "") {
                alert('Please enter your first name');
                return false;
            }
            if (email == "") {
                alert('Please enter your Email');
                return false;
            }

            if (rate > 10 || rate < 0) {
                alert('Please enter a value between 1 and 10');
                return false;
            }
        }
    </script>
</body>

</html>